
/* != Main
--------------------------------------------------------------------------- */
main
   .wrapper
      padding: 0

   .intro
   section
      padding: 0 rnd( 16em/$fz )

   .stt
      text-align: center

   [id=screens]
      padding: 0

      ul
         font-size: 0rem
         text-align: center
         padding: 0 rnd( 8rem/$fz )

      li
         box-sizing: border-box
         display: inline-block
         font-size: 1rem
         padding: rnd( 8em/$fz )
         width: 50%

   aside
      text-align: center

