/* != FONT
--------------------------------------------------------------------------- */

// Regular
font-face( $font-site, $url-font + $font-site + "-Regular" )
// font-face( $font-site, $url-font + $font-site + "-Regular-Italic", normal, italic )

// Semibold
// font-face( $font-site, $url-font + $font-site + "-Semibold", 600 )
// font-face( $font-site, $url-font + $font-site + "-Semibold-Italic", 600, italic )

// Bold
// font-face( $font-site, $url-font + $font-site + "-Bold", bold )
// font-face( $font-site, $url-font + $font-site + "-Bold-Italic", bold, italic )

