html
   font-size: $font-root

body
   background: $bg
   font-family: $font

.tt
.stt
   line-height: 1.2

a
   color: inherit

p
   line-height: 1.4

ul
   margin: 0
   padding: 0
   list-style: none
